@font-face{
  font-family: "AkayaTelevigala";
  src: url("../fonts/AkayaTelevigala/AkayaTelivigala-Regular.ttf") format=("truetype");
}

@font-face{
  font-family: "Redressed";
  src: url("../fonts/Redressed/Redressed-Regular.ttf") format=("truetype");
}

@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format=("truetype");
}


@font-face{
  font-family: "Stick";
  src: url("../fonts/Stick/Stick-Regular.ttf") format=("truetype");
}
